<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mintosoft.rubelgroup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BlueActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mintosoft.rubelgroup.MainActivity" />
        </activity>
        <activity
            android:name=".WorkerReport"
            android:label="@string/title_activity_worker_report"
            android:parentActivityName=".MainActivity"
            android:theme="@style/BlueActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mintosoft.rubelgroup.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignIn"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AmitProcessing"
            android:label="@string/title_activity_amit_processing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mintosoft.rubelgroup.MainActivity" />
        </activity>
        <activity android:name=".SignUp" />
        <activity
            android:name=".AmirRecruiting"
            android:label="@string/title_activity_amir_recruiting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mintosoft.rubelgroup.MainActivity" />
        </activity>
        <activity
            android:name=".RubelProcessing"
            android:label="@string/title_activity_rubel_processing"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mintosoft.rubelgroup.MainActivity" />
        </activity>
        <activity
            android:name=".RubelRecruiting"
            android:label="@string/title_activity_rubel_recruiting"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mintosoft.rubelgroup.MainActivity" />
        </activity>
        <activity
            android:name=".Received"
            android:label="@string/title_activity_received"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mintosoft.rubelgroup.MainActivity" />
        </activity>
        <activity android:name=".ForgotPassword"></activity>
    </application>

</manifest>